<main>

    <div class="content-header">
        <img class="img-responsive"
          src="https://firebasestorage.googleapis.com/v0/b/storyit-e76f1.appspot.com/o/logo.png?alt=media&token=7642ce2c-7e05-43ca-b1d3-2db0331964da"></img>
    </div>

    <section class="content-items">
      <div  ng-repeat="contentItem in $ctrl.content">
        <div class="content-item">
          <div class="border"></div>
          <div class="item-media" ng-class="contentItem.type">

            <img ng-if="contentItem.type === 'image'"
                 ng-class="contentItem.type"
                 class="img-responsive"
                 ng-src="{{contentItem.src }}">


            <div
                ng-class="contentItem.type"
                ng-if="contentItem.type === 'text'">
              <div>{{contentItem.src}}</div>
            </div>

          </div>
          <div class="item-action-bar">

            <div class="pull-left credits">
              {{contentItem.pageUrl}}
            </div>

            <div class="pull-right image">
              <img ng-if="contentItem.type === 'text'"
                   class="img-responsive pull-right"
                   src="//cdn.playbuzz.com/content/impact/images/particle-icon-paragraph@2x.png">
              <img ng-if="contentItem.type === 'image'"
                   class="img-responsive pull-right"
                   src="//cdn.playbuzz.com/content/impact/images/particle-icon-image@2x.png">
            </div>

          </div>
        </div>
      </div>
    </section>

  <div class="content-footer">
    <button type="button" class="save-button" ng-click="$ctrl.saveBtnClick()">CREATE</button>
  </div>
</main>
