.content-footer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  padding: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.03) !important;
  text-align: center;

  .save-button{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50em;
    background: #bd43e2;
    border: 0px;
    color: white;
    font-weight: bold;
    outline: none !important;
    box-shadow: 0px 1px 8px rgba(189, 67, 226, 0.68);

    &.clicked{
      background: #9b37b9;
    }

    .loader{
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

  }
}
