.content-header{
  background: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.03) !important;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;

  & > img{
    width: 70px;
    display: inline-block;
  }

}
